<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aide_Dilicom3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aide_Dilicom3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aide_Dilicom3.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>JPRADAL</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>NME5VI</value>
            </setting>
            <setting name="WebSiteBaseUrl" serializeAs="String">
                <value>https://dilicom-prod.centprod.com</value>
            </setting>
            <setting name="CommandCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ExportEanCsvFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCommandCsvFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="CsvSeparatorReplacement" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="EanAdditionalColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;&lt;Param xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;  &lt;name&gt;Date Import&lt;/name&gt;  &lt;formula&gt;$date$ - $heure$&lt;/formula&gt;  &lt;enabled&gt;true&lt;/enabled&gt;&lt;/Param&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Aide_Dilicom3.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Aide_Dilicom3.Properties.Settings>
            <setting name="DateToken" serializeAs="String">
                <value>$date$</value>
            </setting>
            <setting name="TimeToken" serializeAs="String">
                <value>$heure$</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd/MM/yyyy</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>HH:mm</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HtmlCheckInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EanToken" serializeAs="String">
                <value>$ean$</value>
            </setting>
        </Aide_Dilicom3.Properties.Settings>
    </applicationSettings>
</configuration>